// Card styles
.ProjectCard {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  padding: 15px 20px;
  margin-bottom: 25px;

  .leftcontent,
  .rightcontent {
    display: flex;
    gap: 30px;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 20px;
        font-weight: bolder;
        color: white;
      }

      p {
        font-size: 15px;
        color: white;
        font-weight:bold;
      }
    }

    .editbutton {
      @include hover-effect($primary-color);
      color:$icon-color;
    }
  }
}

.CardBackground {
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 20%;
  z-index: -1;
  background-position: center;
  height: 100%;  
  mix-blend-mode: multiply; 

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    background-color: rgba(124, 124, 124, 0.372);
  }
}
